/* $Id: zen.css,v 1.14.2.1 2009/02/13 07:46:04 johnalbin Exp $ */

/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */


/** body **/
  body
  {
    margin: 0;
    padding: 10px;
    font-family: Arial,sans-serif;
    background: #9E9C9A;
  }

  *:lang(greek),*[lang=greek],.card {
      font-family: "New Athena Unicode", Gentium, "Palatino Linotype", "Lucida Grande", Galilee, "Arial Unicode MS", sans-serif;
  }

  #page
  {
  }

  #page-inner
  {
  }

/** header **/
  #header
  {
      margin-top: 2em;
  }

  #header-inner
  {
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
  }

  #logo /* Wrapper for logo */
  {
    margin: 0 10px 0 30px;
    padding: 0;
  }

  #logo-image /* The actual logo image */
  {
  }

  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
  }

  #site-name a:link,
  #site-name a:visited
  {
    color: #000;
    text-decoration: none;
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
  }

/** main (container for everything else) **/
  #main
  {
  }

  #main-inner
  {
  }

/** content **/
  #content
  {
      font-size: 12pt;
      margin-top: 1em;
  }

  #content-inner
  {
      color: #666666;
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 10px;
  }

  #content-inner a {
      color: #3E8D9C !important;
      font-weight: bold !important;
      text-decoration: none !important;
  }
 
  #content-inner a:hover {
      color: #5BC8DC !important;
      text-decoration: underline !important;
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
      background: white;
      padding-bottom: 2px;
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
      background: white;
      margin-bottom: 0;
      border-bottom: 1px solid white;
  }

  /* Default header title */
  #content-header .title
  {
       color: #333333;
       font-size: 20pt;
       margin-left: .5em;
       margin-bottom: .5em;
  }

  .node-type-page #content-header .title, 
  .node-type-story #content-header .title {
       display: none;
  }

  .node-type-book #content-header .title, 
  .node-type-forum #content-header .title, 
  .node-type-wiki #content-header .title {
       color: #333333;
       font-size: 18pt;
       margin-left: 1em;
       margin-bottom: 1em;
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 0; /* Undo system.css */
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
  }

  div.messages /* Important messages (status, warning, and error) for the user */
  {
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
      padding: 0 1em 0 1em;
      margin-top: 0;
      background-color: white;
      border: 1px solid white;
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 0 0;
    padding: 1em 1em;
    background-color: white;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }

/** navbar **/
  #navbar
  {
      display: none;
  }

  #navbar-inner
  {
  }

  #navbar #search-box {
       display: none;
  }  

  #search-box /* Wrapper for the search form */
  {
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
      float: right;
  }

  #primary ul.links li {
        padding-left: 34px !important;
        height: 32px !important;
        background-position: 0px -5px !important;
  }

  #primary ul.links li a {
       color: #0E2233;
       text-decoration: none;
  }

  #primary ul.links li:hover {
       font-weight: bold;
  }

  #primary ul.links li.menu-237 {
    	background:  url(home_static.gif) no-repeat;
  }

  #primary ul.links li.menu-237:hover {
    	background:  url(home_rollover.gif) no-repeat;
  }

  #primary ul.links li.menu-237.active {
    	background:  url(home_active.gif) no-repeat;
  }

  #primary ul.links li.menu-474 {
    	background:  url(gettingstarted_static.gif) no-repeat;
  }

  #primary ul.links li.menu-474:hover {
    	background:  url(gettingstarted_rollover.gif) no-repeat;
  }

  #primary ul.links li.menu-474.active {
    	background:  url(gettingstarted_active.gif) no-repeat;
  }

  #primary ul.links li.menu-511 {
    	background:  url(help_static.gif) no-repeat;
  }

  #primary ul.links li.menu-511:hover {
    	background:  url(help_rollover.gif) no-repeat;
  }

  #primary ul.links li.menu-511.active {
    	background:  url(help_active.gif) no-repeat;
  }

  #primary ul.links li.menu-516 {
    	background:  url(forum_static.png) no-repeat;
  }

  #primary ul.links li.menu-516:hover {
    	background:  url(forum_rollover.png) no-repeat;
  }

  #primary ul.links li.menu-516.active {
    	background:  url(forum_active.png) no-repeat;
  }

  #primary ul.links li.menu-236 {
    	background:  url(about_static.gif) no-repeat;
  }

  #primary ul.links li.menu-236:hover {
    	background:  url(about_rollover.gif) no-repeat;
  }

  #primary ul.links li.menu-236.active {
    	background:  url(about_active.gif) no-repeat;
  }

  #primary ul.links li.menu-475 {
    	background:  url(signup_static.gif) no-repeat;
  }

  #primary ul.links li.menu-475:hover {
    	background:  url(signup_rollover.gif) no-repeat;
  }

  #primary ul.links li.menu-475.active {
    	background:  url(signup_active.gif) no-repeat;
  }


  #navbar #primary {
      margin-left: 0px;
  }

  #navbar #secondary {
       display: none;

  }

  #secondary /* Secondary links */
  {
  }

/** sidebar-left **/
  #sidebar-left
  {
	background-color: white;
  }

  #sidebar-left-inner
  {
	background-color: white;
  }

/** sidebar-right **/
  #sidebar-right
  {
	background-color: white;
        border: 1px solid #4E6476;
        padding-top: 1em;
  }

  #sidebar-right a 
  {
      color: #3E8D9C !important;
      font-weight: bold !important;
      text-decoration: none !important;
  }

  #sidebar-right a:hover
  {
      color: #5BC8DC !important;
      text-decoration: underline !important;
  }

  #sidebar-right h2 
  {
      color: #333333;
      font-size: 14pt;
  }

  #sidebar-right-inner
  {
	background-color: white;
  }

/** footer **/
  #footer
  {
  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
  }

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
      background: white;
      padding: 1px 16px 4px 16px;
      margin-top: 0px;
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }

  .node h1.title /* Node title */
  {
      background: white;
  }

  .node h2.title /* Node title */
  {
      background: white;
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node-type-book .submitted /* The "posted by" information */
  {
      display: none;
  }

  .node .terms /* Node terms (taxonomy) */
  {
  }

  .node-type-book .terms /* Node terms (taxonomy) */
  {
      display: none;
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node div.links /* Wrapper for node links */
  {
    margin: 1em 0;
  }

  ul.links /* Taxonomy links, node links, comment links */
  {
    margin: 0;
    padding: 0;
  }

  ul.links.inline
  {
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for the list of comments and its title */
  {
    margin: 1em 0;
  }

  #comments-title /* Heading for the list of comments */
  {
  }

  .comment /* Wrapper for a single comment */
  {
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
  }

  .comment-preview /* Preview of the comment before submitting new or updated comment */
  {
  }

  .comment.new /* A new comment since the user last viewed the page. */
  {
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment.first /* The first comment in the list of comments */
  {
  }

  .comment.last /* The last comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-published /* Published comments */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment .user-signature /* The user's signature */
  {
  }

  .comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }

  .block h2.title /* Block title */
  {
  }

  .block .content /* Block's content wrapper */
  {
  }

  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comments-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-2 /* "Primary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even /* Some tables have rows marked even or odd. */
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
    background-color: white;
  }

  tr.odd
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
    background-color: white;
  }

  td.active
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
    background-color: #D1D1D0;
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000;
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link, /* The "Log in using OpenID" links. */
  #user-login li.openid-link
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  	padding-left: 20px;
  	background-position: left center;
  }

  #user-login-form li.user-link, /* The "Cancel OpenID login" links. */
  #user-login li.user-link
  {
    margin-top: 1em;
  	list-style-type: disc;
  	list-style-position: outside;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  .alpheios-column-left {
      width: 45%;
  }

  .alpheios-column-right {
      float: right;
      padding-left: 20px;
      width: 45%;
  }

  #alpheios-texts-block {
      height: 100%;
      overflow: auto;
  }
  
  #alpheios-texts-block li.tochead {
    list-style-image: url(arrow-rit-sharp.gif);
    cursor: pointer;
    color: #3E8D9C !important;
    font-weight: bold !important;
    text-decoration: none !important;
  }

  #alpheios-texts-block li.tochead.openmenu {
    list-style-image: url(arrow-dn-sharp.gif);
  }

  #alpheios-texts-block ul {
      padding-left: 1em;
  } 

  #alpheios-texts-block li.tocitem {
    list-style: none;
    color: #666666;
    font-weight: normal;
    text-decoration: none;
  }

  #alpheios-texts-block li.tocitem.hasdiagram {
     background: url("/sites/all/themes/alpheiostheme/icons/diagram_16.png")no-repeat scroll 16px 50% transparent;
     padding-left: 32px;
  }

  #alpheios-texts-block li.tocitem.hastrans {
     background: url("/sites/all/themes/alpheiostheme/icons/translation_16.png")no-repeat scroll 16px 50% transparent;
     padding-left: 32px;
  }

  #alpheios-texts-block li.tocitem.hastei {
     background: url("/sites/all/themes/alpheiostheme/icons/TEI.png")no-repeat scroll 16px 50% transparent;
     padding-left: 32px;
  }

  #alpheios-texts-block li.tocitem.hastrans.hasdiagram {
     background: url("/sites/all/themes/alpheiostheme/icons/diagramplustrans.png")no-repeat scroll left top transparent;
     padding-left: 32px;
  }

  #alpheios-texts-block li.tocitem a {
      text-decoration: underline !important;
  }

  #alpheios-texts-block li.tocitem a.tocextra {
      text-decoration: underline !important;
      font-style: italic;
      padding-left: 2em;
      font-size: smaller;
  }

  #alpheios-texts-block li.tocitem-bulleted {
    list-style: disc;
    color: #666666;
    font-weight: normal;
    text-decoration: none;
    margin-bottom: 1em;
  }

  #alpheios-texts-block li.tocitem-bulleted div {
      font-size: smaller;
      margin-left: 1em;
  }

  #alpheios-texts-block .textreqs {
      color: #666666;
      margin: 0 2em 0 2em;
      font-weight: normal;
      font-size: smaller;
      border: 1px dotted #666666;
      padding-left: 1.25em;
  }

  #alpheios-texts-block .textreqs p {
      margin: 0 0 0 0;
      line-height: 1.5em;
      text-indent: -1em;
  }
  #alpheios-texts-block .textreqs p.header {
      font-weight: bold;
  }

  #alpheios-main-block {
     float: left;
     height: 100%;
     width: 500px;
     margin-right: 2em;
     text-align:  justify;

  }

  #alpheios-texts-block a {
      color: #3E8D9C !important;
      font-weight: bold !important;
      text-decoration: none !important;
  }

  #alpheios-texts-block a:hover {
      color: #5BC8DC !important;
      text-decoration: underline !important;
  }

  div#alpheios-texts-block h2 {
      margin-bottom: .25em;
  }

  div#alpheios-texts-block h3 {
      margin-top: .25em;
      margin-bottom: .25em;
      font-size: 14pt;
      font-weight: bold;
      background: url(1px_background.gif) repeat;
      color: white;
      padding-left: .5em;
  }

  div#alpheios-texts-block h4 {
      margin-top: .25em;
      color: #333333;
      border-bottom: 1px solid #9E9C9A;
  }

  div#alpheios-texts-block ul.alpheios-text-mode-select {
      list-style-type:  none;
  }

  div#alpheios-texts-block ul.alpheios-text-mode-select li {
      display: inline;
      padding-left: 34px;
      padding-right: 10px;
      height: 40px;
      border-left: 1px solid #32414f;
      text-decoration: none;
  }

  div#alpheios-texts-block ul.alpheios-text-mode-select li a {
      color: #3E8D9C !important;
      font-weight: bold;
      text-decoration: none !important;
  }

  div#alpheios-texts-block ul.alpheios-text-mode-select li:hover a {
      color: #5BC8DC !important;
      text-decoration: underline !important;
  }

  div#alpheios-texts-block ul.alpheios-text-mode-select li:first-child {
      border: none;
  }

  .alpheios-mode-learner {
    background: url(learning_static.gif) no-repeat 2px -4px;
  }

  .alpheios-mode-learner:hover {
    background: url(learning_rollover.gif) no-repeat 2px -4px;
  }

  .alpheios-mode-reader {
    background: url(reading_static.gif) no-repeat 2px -2px;
  }

  .alpheios-mode-reader:hover {
    background: url(reading_rollover.gif) no-repeat 2px -2px;
  }

  #alpheios-install-warning {
      min-height: 3em;
      position: relative;
      margin-bottom: .5em;
  }

  #alpheios-install-warning .alpheios-hint {
      vertical-align: bottom;
      padding-right: 20px;
  }
  #alpheios-install-warning a  {
      vertical-align: bottom;
  }

  #alpheios-install-button {
      background: #E49A0D;
      color: white;
      font-weight: bold;
      font-size: 12pt;
      cursor: pointer;
      vertical-align: bottom;
  }

  #alpheios-install-button:hover {
      border-color: #5BC8DC;
  }

  #alpheios-install-button span.install-plus {
      color: #F6D918;
      font-size: 14pt;
  }
  .alpheios-node-block {
      width: 100%;
      height: 100%;

  }


  .node .content h1 {
      font-size: 18pt;
      color: #333333;
      font-weight: bold;
  }

  .node .content h2 {
      color: #333333;
      font-size: 15pt;
      font-weight: bold;
  }


.roundedcornr_top div {
   background: url(corner_tl.png) no-repeat top left;
}
.roundedcornr_top {
   background: white url(corner_tr.png) no-repeat top right;
}
.roundedcornr_bottom div {
   background: url(corner_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom {
   background: white url(corner_br.png) no-repeat bottom right;
}

.roundedcornr_top div, .roundedcornr_top, 
.roundedcornr_bottom div, .roundedcornr_bottom {
   width: 100%;
   height: 30px;
   font-size: 1px;
}

.node-form {
}

.block-region {
    background-color: #F6D918;

}

/* Book Outlines */
.node-type-book ol li {
	list-style-type: upper-roman;
}

.node-type-book ol li ol li{
	list-style-type: upper-alpha;
}

.node-type-book ol li ol li ol li{
	list-style-type: decimal;
}

.node-type-book ol li ol li ol li ol li{
	list-style-type: lower-alpha;
}

/* Book Outline Override for regular Ordered list*/
.node-type-book ol.alpheios-ordered-list li {
	list-style-type: decimal;
        margin-bottom: 1em;
}

.node-type-book ol.alpheios-ordered-list li ol li{
	list-style-type: lower-alpha;
}

.node-type-book ol.alpheios-ordered-list li ol li ol li{
	list-style-type: lower-roman;
}

.alpheios-hint {
    font-weight: normal;
    color: #4E6476;
    font-style: italic;
    padding-left: 18px;
    font-family:  Arial, sans-serif;
    background: url(icons/information-16-g.png) 0 0 no-repeat;
}

#alpheios-texts-block .text-attrib {
    font-size: smaller;
}

#alpheios-install-links {
    display: none;
}

#alpheios-install-links li,
#alpheios-install-links-static li {
    list-style: none;
    margin: 1em;
}
#alpheios-install-links li a:not(.alpheios-site-link),
#alpheios-install-links-static li a:not(.alpheios-site-link){
        background: #E49A0D;
        color: white !important;
        font-weight: bold !important;
        font-size: 12pt;
        cursor: pointer;
        vertical-align: bottom;
        padding: 4px;
}

#alpheios-install-links li a:not(.alpheios-site-link):hover,
#alpheios-install-links-static li a:not(.alpheios-site-link):hover{
      color: white !important;
      text-decoration: none !important;
      border: 1px solid #5BC8DC !important;
}
#alpheios-install-links span.alpheios-install-plus,
#alpheios-install-links-static span.alpheios-install-plus {
      color: #F6D918 !important;
      font-size: 14pt;
}

.alpheios-tool-icon {
    font-weight: normal;
    color: #4E6476;
    font-style: normal;
    margin-bottom: 1em;
    padding-left: 18px;
    font-family:  Arial, sans-serif;
}

.alpheios-inflect-icon {
    background: url(icons/inflection_16.png) 0 0 no-repeat;
}

.alpheios-diagram-icon {
    background: url(icons/diagram_16.png) 0 0 no-repeat;
}

.alpheios-define-icon {
    background: url(icons/wordlist_16.png) 0 0 no-repeat;
}

.alpheios-grammar-icon {
    background: url(icons/grammar_16.png) 0 0 no-repeat;
}

.alpheios-icon {
    background: url(icons/alpheios_16.png) 0 0 no-repeat;
}

.alpheios-help-icon {
    background: url(icons/help_16.png) 0 0 no-repeat;
}

.alpheios-speech-icon {
    background: url(icons/speech_16.png) 0 0 no-repeat;
}

.alpheios-tools-button {
    background: url(icons/tools_16.png) 0 0 no-repeat;
}

.alpheios-wordlist-icon {
    background: url(icons/vocablist_16.png) 0 0 no-repeat;
}
.alpheios-translation-icon {
    background: url(icons/translation_16.png) 0 0 no-repeat;
}

.edit-tool-tree {
    background: url(icons/edit-tool-tree.png) 0 0 no-repeat;
    padding-left: 22px !important;
}

.edit-tool-label {
    background: url(icons/edit-tool-label.png) 0 0 no-repeat;
    padding-left: 22px !important;
}

.edit-tool-ellipsis {
    background: url(icons/edit-tool-ellipsis.png) 0 0 no-repeat;
    padding-left: 22px !important;
}

.edit-undo-icon {
    background: url(icons/edit-undo.png) 0 0 no-repeat;
    padding-left: 22px !important;
}

.edit-redo-icon {
    background: url(icons/edit-redo.png) 0 0 no-repeat;
    padding-left: 22px !important;
}

.edit-save-icon {
    background: url(icons/document-save.png) 0 0 no-repeat;
    padding-left: 22px !important;
}

.edit-expansion-controls {
    background: url(icons/edit-expansion-controls.png) 0 0 no-repeat;
    padding-left: 22px !important;
}
.edit-next-word {
    background: url(icons/list-add.png) 0 0 no-repeat;
    padding-left: 22px !important;
}

ul.alpheios-unordered-list {
    list-style-type: bullet;
}
